@import url('../../node_modules/normalize.css/normalize.css');
@import url('./fonts.css');

@keyframes title-slide {
  from {
    transform: translateX(50vw);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.main {
  height: 100%;
  height: 100vh;
  font-family: 'Gotham Pro';
}

body {
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  min-height: 700px;
}

.hero-bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 98, 148, 0.5)), to(rgba(44, 98, 148, 0.5)));
  background: -o-linear-gradient(bottom, rgba(44, 98, 148, 0.5), rgba(44, 98, 148, 0.5));
  background: linear-gradient(0deg, rgba(44, 98, 148, 0.5), rgba(44, 98, 148, 0.5));
}

.hero-bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.link {
  text-decoration: none;
}

.item {
  list-style: none;
}

.nav__link {
  position: relative;
  padding: 5vh 0;
  font-size: 1.5rem;
  font-family: 'Gotham Pro';
}

.nav__link::after {
  content: '';
  width: 0;
  height: 100%;
  background: #3470e3;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.active.nav__link::after {
  width: 100%;
}

.nav__link_item {
  color: white;
  position: relative;
  z-index: 1;
}

.list {
  padding: 0;
  margin: 0;
}

.logo {
  filter: invert(1);
  width: 160px;
  height: 40px;
}

.sidebar__logo {
  margin-top: 50px !important;
}

.separator {
  border: solid #b5bed3;
  border-width: 0 0 0 1px;
}

.sidebar__link {
  font-size: 1.65rem;
  position: relative;
  margin: 15px 0;
  transition: color 0.3s linear;
}

.sidebar__link::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -35px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid white;
  opacity: 0.6;
}

.sidebar__link:hover {
  color: #3470e3 !important;
  transition: color 0.3s linear;
}

.sidebar__lang:hover {
  color: #3470e3 !important;
  transition: color 0.3s linear;
}

aside::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 46px;
}

.sidebar__link_item {
  padding: 15px 0;
}

.sidebar__lang {
  font-size: 1.25rem;
  line-height: 19px;

  text-transform: uppercase;
}

.sidebar__lang.active {
  font-weight: bold;
}
.sidebar__lang.active:hover {
  color: white !important;
}

.sidebar__lang_wrap {
  padding: 5vh 15px;
}

.hero__title {
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: uppercase;
  color: var(--color-white);
}

.hero__title {
  transform: translate(8vw);
}

.hero__title span:nth-child(1) {
  animation: 0.3s linear 0s both title-slide;
}

.hero__title span:nth-child(2) {
  padding-left: 105px;
  animation: 0.3s linear 0.4s both title-slide;
}
.hero__title span:nth-child(3) {
  padding-left: 205px;
  animation: 0.3s linear 0.8s both title-slide;
}

.hero-mobile__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 70px !important;
  border: none;
  height: 70px;
  margin-bottom: 70px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.header__desc {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 135%;
  text-transform: uppercase;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media screen and (max-width: 1450px) {
  .hero__title {
    font-size: 2.8125rem;
  }
}

@media (max-width: 1200px) {
  .hero__title {
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    text-align: center;
  }

  .hero__title span:nth-child(2) {
    padding-left: 12px;
  }
  .hero__title span:nth-child(3) {
    padding-left: 12px;
  }
}

@media (max-width: 1024px) {
  .hero__title {
    font-size: 2.375rem;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .hero__title {
    margin-top: 0;
    padding-left: 0;
    font-size: 1.375rem;
  }
}
